<div class="statistics-section">
    <h2>Our statistics over the years: we are proud to serve all these people in our journey.</h2>
    <div class="statistics-container">
      <div class="statistic-item">
        <div class="icon-container red">
          <img src="../../../../images/Image 60.png" alt="Classes">
        </div>
        <h3>55,00</h3>
        <p>Children in our Classes</p>
      </div>
      <div class="statistic-item">
        <div class="icon-container blue">
          <img src="../../../../images/Image 58.png" alt="Enrolled">
        </div>
        <h3>55,00</h3>
        <p>Children Enrolled in the last 5 years</p>
      </div>
      <div class="statistic-item">
        <div class="icon-container green">
          <img src="../../../../images/Image 59.png" alt="Parents">
        </div>
        <h3>55,00</h3>
        <p>Parents in our nursery system</p>
      </div>
    </div>
  </div>
  