<footer class="footer-section">
    <img src="../../../../images/logo.png" alt="Logo" class="footer-logo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center mb-4">
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-links">
            <h4>Quick Links</h4>
            <a routerLink="/features">Features</a>
            <a routerLink="/pricing-plans">Pricing Plans</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-links">
            <h4>Resources</h4>
            <a routerLink="/user-guides">User Guides</a>
            <a routerLink="/community">Community</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-links">
            <h4>Company</h4>
            <a routerLink="/about-us">About Us</a>
            <a routerLink="/contact-us">Contact Us</a>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="footer-links">
            <h4>Follow Us</h4>
            <a href="https://www.facebook.com" target="_blank">Facebook</a>
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
            <a href="https://www.linkedin.com" target="_blank">LinkedIn</a>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-12 text-center">
          <div class="footer-newsletter">
            <h4>Subscribe to our Newsletter</h4>
            <form>
              <input type="email" placeholder="Enter your email" class="newsletter-input">
              <button type="submit" class="newsletter-btn">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Your Company. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  