<link href="https://fonts.googleapis.com/css2?family=Anton&family=Playwrite+FR+Trad&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Playwrite+US+Modern:wght@100..400&family=Rubik&display=swap" rel="stylesheet">

<div class="main-content">

  <div class="row">
    <div class="col-md-12">
      <h2 class="title">All Subject</h2>

      <div class="header-actions">
        <button class="btn btn-primary add-level-btn" (click)="addSubject()">Add Subject</button>
        <div class="search-container">
          <input type="text" placeholder="Search" [(ngModel)]="searchTerm" (input)="searchSubjects()">
          <i class="fas fa-search"></i>
        </div>
      </div>

      <div class="btn-group filter-options" role="group" aria-label="Curriculum Levels">
        <button *ngFor="let level of levels; let i = index"
                class="btn filter-btn"
                [ngClass]="{
                  'btn-primary': i === 0,
                  'btn-secondary': i === 1,
                  'btn-success': i === 2,
                  'btn-danger': i === 3
                }"
                (click)="selectLevel(level, i)">
          {{ level.level }}
        </button>
      </div>
    </div>
  </div>

  <div class="row table-container" *ngIf="selectedLevel">
    <div class="subject-list fixed-table table-responsive" *ngIf="filteredSubjects.length > 0; else noSubjects">
      <table class="table fixed-table" [ngClass]="tableClass">
        <thead>
          <tr>
            <th>Subject Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let subject of filteredSubjects">
            <td>{{ subject.subject_name }}</td>
            <td>{{ subject.description }}</td>
            <td>
              <button class="btn btn-primary btn-yara mr-2" (click)="editSubject(subject)">Edit</button>
              <button class="btn btn-danger btn-yara mr-2" (click)="deleteSubject(subject)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noSubjects>
      <p class="text-center mt-5">There's no subject in this level yet.</p>
    </ng-template>
  </div>
</div>
