/* Container for the entire reset password section */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

/* Left section of the reset password page */
.col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.col-md-6 img {
    display: block;
    margin-bottom: 20px;
}

.col-md-6 span {
    font-size: 24px;
    font-weight: 500;
    color: #9095A1FF;
}

/* Right section of the reset password page */
.card {
    width: 100% !important;
    border: 1px solid #dddddd;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
.card .form-group {
    margin-bottom: 20px;
}

.card .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

.card .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.card .form-group input:focus {
    border-color: rgba(102, 102, 102, 0.5);
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5);
}

.card .btn {
    width: 100%;
    padding: 10px;
    background-color: #f6d258;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.card .btn:hover {
    background-color: #e6c148;
}

.main {
    position: relative;
    margin-bottom: 170px;
}

.span-left {
    position: absolute;
    left: -150px;
    display: block;
    width: 230px;
    height: 8px;
    background-color: #007bff;
    margin-bottom: 20px;
    border-radius: 8px;
}

.main p {
    font-size: 40px;
    font-weight: 500;
    color: #9095A1FF;
    margin: 0;
    position: absolute;
    width: 300px;
    left: 100px;
    bottom: -90px;
}

.main p:after {
    content: '☀️';
    font-size: 24px;
    color: #ffd700;
    position: absolute;
    left: -2px;
    top: 130px;
}

.error-message {
    color: #d9534f;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
}

@media (max-width: 1200px) {
    .main {
      margin-right: 100px;
    }
  
    .main p {
      font-size: 36px;
      left: 80px;
      width: 280px;
    }
  }
  
  @media (max-width: 992px) {
    .main {
      margin-right: 50px;
    }
  
    .span-left {
      left: -120px;
    }
  
    .main p {
      font-size: 32px;
      left: 60px;
      width: 250px;
    }
  }
  
  @media (max-width: 768px) {
    .main {
      margin-right: 20px;
    }
  
    .span-left {
      left: -90px;
    }
  
    .main p {
      font-size: 28px;
      left: 40px;
      width: 220px;
    }
  }
  
  @media (max-width: 576px) {
    .main {
        display: none;
    }
  }
  