<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="header-section">
                <div class="header-content">
                    <div class="welcome-text">
                        <h2>Hi, Admin</h2>
                        <p>Ready to Improve Future Minds?</p>
                    </div>
                </div>
            </div>            
            <div class="overview-section">
                
                <div class="stat-card bg-info" routerLink="/admin-dashboard/accounts/all-parents">
                    <h4>Parents</h4>
                </div>
                <div class="stat-card bg-warning" routerLink="/admin-dashboard/students/all-students">
                    <h4>Children</h4>
                </div>
                <div class="stat-card bg-danger" routerLink="/admin-dashboard/subjects">
                    <h4>Subjects</h4>
                </div>
               
            </div>

           
        </div>
        <div class="col-md-6 d-flex justify-content-center">
            <div class="header-image">
                <img src="../../../../images/abc (1).png" alt="Header Image">
            </div>
        </div>
    </div>
</div>
