<div class="learn-fun-container">
    <div class="section">
      <div class="image-container one">
        <img src="../../../../images/Image (1).png" alt="Learning Activity">
      </div>
      <div class="text-container">
        <h2>Learn</h2>
        <p>Building Bonds and Enhancing Skills: Social and interactive activities help our children develop cooperation and communication skills.</p>
        <img src="../../../../images/Oval 3.png"/>
      </div>
    </div>
  
    <div class="section reverse ">
      <div class="image-container two">
        <img src="../../../../images/Image (3).png" alt="Fun Activity">
      </div>
      <div class="text-container">
        <h2>Fun</h2>
        <p>Exploring Adventures in Nursery: Fun-filled, educational experiences await our little ones.</p>
        <img src="../../../../images/Oval 2.png"/>
      </div>
    </div>
    <div class="section">
        <div class="image-container three">
          <img src="../../../../images/Image (2).png" alt="Learning Activity">
        </div>
        <div class="text-container">
          <h2>Play</h2>
          <p>Building Bonds and Enhancing Skills: Social and interactive activities help our children develop cooperation and communication skills.</p>
          <img src="../../../../images/Oval 3 (1).png"/>
        </div>
      </div>
  </div>
  