<div class="levels-section">
  <h2>Activities</h2>
  <img src="../../../../images/Image 62.png" style="width: 600px;" />

  <div class="container">
    <div class="one">
      <video width="100%" controls autoplay muted>
        <source src="../../../../images/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="two">
      <p>
        Engaging children in activities is crucial for their development. 
        Activities such as <strong>outdoor play</strong>, <strong>arts and crafts</strong>, 
        and <strong>interactive games</strong> help in enhancing their motor skills, creativity, 
        and social interactions. Regular participation in these activities fosters a sense of 
        <strong>teamwork</strong>, boosts <strong>confidence</strong>, and promotes overall 
        well-being.
      </p>
    </div>
  </div>
</div>
